﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Master/MasterRegistrados.master" AutoEventWireup="true" CodeFile="~/Controller/Principal/DefaultRegistrados.aspx.cs" Inherits="Views_Principal_DefaultRegistrados" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

    <br />
    <br />
    <br />
        <div class="row">
            <div class="col-3">

            </div>
            <div class="col-6">
              <div class="card">
  <div class="card-header">
    QUE HAY PA HACER!!
  </div>
  <div class="card-body">
    <h5 class="card-title"><asp:Label ID="LA_Bienvenida" runat="server" Font-Size="XX-Large"></asp:Label></h5>
    <p class="card-text alert alert-info">   
        Puedes buscar eventos de tu interes clickea en Buscar Eventos
    </p>
    
  </div>
</div>
                </div>

            <div class="col-3">

            </div>
         
        </div>

 


      

</asp:Content>

